spring:
  r2dbc:
    url: r2dbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    pool:
      initial-size: 20
      max-size: 100
      max-idle-time: 30m

  flyway:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    enabled: false # Ejecutado por Task Definition separado

logging:
  level:
    root: INFO
    com.nitro: INFO
    org.springframework.r2dbc: WARN
    io.r2dbc.postgresql: WARN

management:
  metrics:
    export:
      cloudwatch:
        enabled: true
        namespace: AYNI/Prospectos/Production
        batch-size: 20
        step: 1m

app:
  security:
    enabled: true
    oauth2:
      jwk-set-uri: ${JWK_SET_URI}

  aws:
    region: ${AWS_REGION}
    s3:
      bucket-name: nitro-prospectos-assets-prod

  salesforce:
    api:
      url: https://login.salesforce.com
      token: ${SF_API_TOKEN}

aws:
  xray:
    enabled: true
    sampling-rate: 0.1